<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-5.0.2-dist/css/bootstrap.min.css') }}">
        
        <title> {% block title %} {% endblock %}</title>            
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> Conversor Audio Texto </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul>
                   
                </div>
            </div>
        </nav>

        {% block body %} {% endblock %}

        {% block content %} {% endblock %}

        {% macro mostraAlerta() %}

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, mensagens in messages %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="border border-{{ category }} alert alert-{{ category }} alert-dismissible" role="alert">
                                                    <h5><span class="oi oi-check" aria-hidden="true">{{ mensagens }}</span> </h5>
                                                </div>
                                            </div>
                                        </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
        
                    </div>
                </div>
            </div>

        {% endmacro %}

        {% block footer %} {% endblock %}

        <script src="{{ url_for('static', filename='bootstrap-5.0.2-dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-5.0.2-dist/js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-5.0.2-dist/js/jquery-3.6.0.min.js') }}"></script>
        


    </body>
</html>